<div class="row middle-xs entry" *ngIf="entryData" [class.entry--answered]="entryData.isAnswered" (click)="openIssueInStackOverflow()" cafe="stackoverflow-entry">
  <div class="col-xs-12">
      <div class="entry__date" cafe="stackoverflow-date">{{entryData.creationDate | date:'dd.MM.YYYY'}}</div>
  </div>
  <div class="col-xs-2 col-md-1 col-lg-1">
    <fa-icon [icon]="['fab', 'stack-overflow']" [size]="'2x'"></fa-icon>
  </div>
  <div class="col-xs-10 col-md-7 col-lg-8">
    <div class="entry__title" cafe="stackoverflow-title">{{entryData.title | unescapeHtml}}</div>
  </div>
  <div class="col-xs-12 col-md-4 col-lg-3">
    <div class="entry__answer-count" cafe="stackoverflow-answer-count">{{entryData.answerCount}}</div>
    <div class="entry__answer-description">Antworten</div>
  </div>
</div>
