<div class="row middle-xs application">
  <app-dashboard class="col-xs-12 col-md-6 col-lg-4" [dashboardEntries]="(typeScriptSearchResults$ | async)">
    <ng-template #dashboardEntryTemplate let-dashboardEntry>
      <div>
        {{dashboardEntry?.answerCount}} | {{dashboardEntry?.title}}
      </div>
    </ng-template>
  </app-dashboard>
  <app-dashboard class="col-xs-12 col-md-6 col-lg-4" [dashboardEntries]="(angularSearchResults$ | async)">
    <ng-template #dashboardEntryTemplate let-dashboardEntry>
      <div>
        {{dashboardEntry?.title}}
      </div>
    </ng-template>
  </app-dashboard>
  <app-dashboard class="col-xs-12 col-md-6 col-lg-4" [dashboardEntries]="(weatherSearchResult$ | async)">
    <ng-template #dashboardEntryTemplate let-dashboardEntry>
      <div *ngIf="dashboardEntry.title; else elseBlock">
        {{dashboardEntry?.title}}
      </div>
      <ng-template #elseBlock>
        {{dashboardEntry.temperatureEvening}}
      </ng-template>
    </ng-template>
  </app-dashboard>
</div>
